body {
  background: url(https://images.unsplash.com/photo-1526488807855-309186804587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80) no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  overflow: hidden;

}
img {
  margin: 1rem;
  border-radius:  25px;
}
.segunda_columna {
  padding: 8rem;
  justify-content:flex-start;
  align-items: center;
  float: right;
  position: sticky;
}
h3{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color:aqua;

}
.imagen-grande {
  width:100%;
  height: 100%;
  max-width:600px;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid aqua;
  text-align: center;
}
.General {
  float: left;
  justify-content: flex-end;
  overflow-y: auto;
  height: 1500px;
}
/*

Barra de busqueda

*/
:root {
	--primary-color: #00bcd4;
	--accent-color: #f50057;

	--text-color: #263238;
	--body-color: #80deea;
	--main-font: 'roboto';
	--font-bold: 700;
	--font-regular: 400;
}
* { box-sizing: border-box }

body {
	color: var(--text-color);
	background-color: var(--body-color);
	font-family: var(--main-font), Arial;
	font-weight: var(--font-regular);
}
main{ 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
h1 { font-weight: var(--font-bold) }
input, 
button {
	border: none;
	background: none;
	outline: 0;
}
button {cursor: pointer}
.SearchBox-input::placeholder {/* No es un seudoelemento estandar */
 color:white;
	opacity: .6;
}
/* Chrome, Opera ySafari */
.SearchBox-input::-webkit-input-placeholder {
  color: white;
}
/* Firefox 19+ */
.SearchBox-input::-moz-placeholder {
  color: white;
}
/* IE 10+ y Edge */
.SearchBox-input:-ms-input-placeholder {
  color: white;
}
/* Firefox 18- */
#formGroupExampleInput:-moz-placeholder {
  color: white;
}



.SearchBox {
	--height: 4em;
	display: flex;
	
	border-radius: var(--height);
	background-color: var(--primary-color);
	height: var(--height);
}
	.SearchBox:hover .SearchBox-input {
		padding-left: 2em;
		padding-right: 1em;
		width: 240px;
	}
	.SearchBox-input {
		width: 0;
		font-size: 1.2em;
		color: #fff;
		transition: .45s;
	}
	.SearchBox-button {
		display: flex;
		border-radius: 50%;
		width: var(--height);
		height: var(--height);
		background-color: var(--accent-color);
		transition: .3s;
	}
	.SearchBox-button:active  {
		transform: scale(.85);
	}
	.SearchBox-icon {
		margin: auto;
		color: #fff;
	}


@media screen and (min-width: 400px){
	.SearchBox:hover .SearchBox-input {
		width: 500px;
	}
}

/*

Pantalla de carga

*/

/*

End pantalla de carga

*/